/* Variables */
/* grid de informaciones */
.informaciones {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  padding-bottom: 3rem;
  text-align: center;
  padding: 3rem;
  width: 100%;
  background-color: #cccccc; }

div div img {
  width: 80px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.infoTitulo {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2rem;
  padding-top: 2rem;
  color: #3AA640; }

div div p {
  font-size: 1.5rem; }

.iconoMovil {
  transition: 1s; }

.iconoMovil:hover {
  transform: rotate(15deg); }

/* Sobre Nosotros */
.historia {
  color: #FFFFFF;
  text-align: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../Imagenes/historia.jpeg");
  background-position: center center;
  background-size: cover;
  padding-bottom: 4rem;
  padding-top: 4rem; }

div h2 {
  font-weight: bold;
  padding-top: 4rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: uppercase; }

.historia2 {
  font-size: 1.5rem; }

.historia3 {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: rgba(43, 77, 56, 0.5);
  padding: 2rem;
  transition: 0.8s; }
  .historia3 a {
    text-decoration: none;
    color: #cccccc; }

.historia3:hover {
  transform: scale(1.2, 1.2);
  color: #cccccc; }

/* Marcas con las que trabajamos*/
.marcasConLasQueTrabajamos {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  color: #000000;
  background-color: #FFFFFF;
  font-weight: bold;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.flexMarcas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  padding-bottom: 2rem; }

@media (max-width: 600px) {
  .informaciones {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-bottom: 1rem;
    text-align: center;
    padding: 2rem; }
  .flexMarcas {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .marcas {
    padding-bottom: 2rem; } }

.imgProt {
  width: 300px;
  height: auto;
  transition: 0,8s;
  overflow: hidden; }

.imgProt:hover {
  transform: scale(0.8, 0.8); }

.ecommerce {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.comprar {
  background-color: #3AA640;
  color: #FFFFFF;
  font-size: 1.5rem; }

.producto {
  text-transform: uppercase;
  font-size: 1.5rem; }

.valorProducto {
  font-size: 1.5rem; }

.divQuienesSomos {
  background-color: #000000;
  color: #FFFFFF;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.fotoHistoria {
  width: 100%; }

.textoQuienesSomos {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.6; }

.misionVision {
  display: grid;
  grid-template-areas: "mision vision" "textoMision textoVision";
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000000;
  color: #FFFFFF; }

.mision {
  grid-area: mision;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem; }

.textoMision {
  grid-area: textoMision;
  font-size: 1.5rem;
  line-height: 1.6; }

.vision {
  grid-area: vision;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem; }

.textoVision {
  grid-area: textoVision;
  font-size: 1.5rem;
  line-height: 1.6; }

.Contacto {
  font-size: 1.6rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.proteTexto {
  text-align: center;
  font-size: 1.5rem; }

.proteinasImg {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.imgProt {
  width: 300px;
  height: auto;
  align-items: center;
  transition: 0,8s; }

.imgProt:hover {
  transform: scale(0.8, 0.8); }

.texto {
  text-align: center;
  font-size: 1.5rem; }

.mantenciones {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.mantencion {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center; }

.mantencionDescripcion {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 3rem; }

.pintura {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.botones {
  background-color: #3AA640;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center; }

.tituloh2 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-top: 3rem; }

.titulos {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase; }

.valor {
  font-size: 5rem;
  text-align: center;
  color: #3AA640;
  font-weight: bold; }

.lista {
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  text-align: left; }

.directoTienda {
  font-size: 1.2rem;
  font-style: oblique; }

.bordes {
  padding-left: 4rem;
  padding-right: 4rem; }

.separacion {
  padding-bottom: 3rem;
  padding-top: 3rem; }

.fondo {
  background-color: #A8D47A; }

.trekImg {
  width: 100%;
  height: auto;
  align-items: left;
  margin-left: 0%; }

.fondoTrek {
  background-color: #000000; }

.textoTrek {
  background-color: #000000;
  color: #FFFFFF;
  padding-right: 10rem;
  padding-left: 3rem; }

.titulosTrek {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 3rem;
  text-align: left; }

/* servicio tecnico autorizado trek*/
.hall {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-bottom: 3rem;
  padding-right: 2rem; }

.imagenesHall {
  width: 80%;
  height: auto;
  align-items: center;
  transition: 0,8s; }

.imagenesHall:hover {
  transform: scale(0.8, 0.8); }

/*Variables*/
* {
  margin: 0;
  padding: 0;
  /* border: solid 1px red; */
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

h1 {
  font-family: 'Galada', cursive;
  font-size: 4rem;
  text-align: center; }

h2 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase; }

/* nabarrrrrr*/
.navbar {
  margin-bottom: 3rem;
  margin-top: 1rem; }
  .navbar a {
    font-size: 1.5rem;
    color: #000000; }

.navbar a:hover {
  color: #3AA640; }

nav a img {
  width: 200px; }

nav a ul li {
  background-color: #000000;
  color: #000000; }

header {
  text-transform: uppercase;
  justify-content: space-around;
  padding-left: 3rem;
  padding-right: 3rem; }

/*footer*/
.footer {
  background: #000000;
  color: white; }
  .footer img {
    width: 200px;
    padding-bottom: 2rem; }
  .footer h4 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5rem;
    padding-bottom: 2rem; }
  .footer .links ul {
    list-style-type: none;
    text-decoration: none;
    font-size: 1.5rem; }
  .footer .links li a {
    color: white;
    transition: color .2s; }
    .footer .links li a:hover {
      text-decoration: none;
      color: #A8D47A; }
  .footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1); }

.separacion {
  padding-bottom: rem; }

/*footer*/
h1 {
  color: #000000;
  font-size: 4rem;
  text-align: center; }

h2 {
  text-transform: uppercase;
  font-size: 2rem; }

.blanco {
  color: #FFFFFF; }
