

.divQuienesSomos {
    background-color: $negro;
    color: $blanco;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.fotoHistoria{
    width: 100%;

}
.textoQuienesSomos{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.6;
}

.fondoMisionVision{
    background-color: $negro;
    color: $blanco;

}
.misionVision{
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}
.textoMisionVision{
    font-size: 1.5rem;
    line-height: 1.6;
}

.colorNegro{
    background-color: $negro;
}



.Contacto {
    font-size: 1.6rem;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (max-width: 576px) {
    .misionVision{
        grid-template-columns: 1fr;
        box-sizing: border-box;

    }
}
@media (max-width: 900px) {
    .misionVision{
        grid-template-columns: 1fr;
        box-sizing: border-box;

    }
}