

.divQuienesSomos {
    background-color: $negro;
    color: $blanco;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.fotoHistoria{
    width: 100%;
}
.quienesSomos{
    text-transform: uppercase;
    text-align: center;
}
.textoQuienesSomos{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.6;
}


.misionVision{
    display: grid;
    grid-template-areas: 
    "mision vision"
    "textoMision textoVision";

    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $negro;
    color: $blanco;
}
.mision{
    grid-area: mision;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}
.textoMision{
    grid-area: textoMision;
    font-size: 1.5rem;
    line-height: 1.6;
}
.vision{
    grid-area: vision;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;

}
.textoVision{
    grid-area: textoVision;
    font-size: 1.5rem;
    line-height: 1.6;
}




.Contacto {
    font-size: 1.6rem;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}