.mantencionPintura{
    text-transform: uppercase;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}
.frenosMecanicosDescrip{
    text-align: left;
    font-size: 1.5rem;
    padding-bottom: 3rem;
}
.pinturaHorno
{
    text-align: center;
    padding-top: 3rem;

}
    $mantenciones: 
    (frenosMecanicos: $gris, 
    frenosHidraulicos: $blanco, 
    pintura: $verdeClaro
    );

    @each $manten, $color in $mantenciones{
        .fondoMantenciones--#{$manten}{
            background-color: $color;
        }
    
}