
.trekImg{
width: 100%;
height: auto;
align-items: left;
margin-left: 0%;
}
.fondoTrek{
background-color:$negro;
}
.textoTrek{
    background-color: $negro;
    color: $blanco;
    padding-right: 10rem;
    padding-left: 3rem;

}
.titulosTrek{
    font-size: 2rem;
    font-weight: 500;
    padding-top: 3rem;
    text-align: left;

}

/* servicio tecnico autorizado trek*/