
.tituloh2{
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-top: 3rem;
}
.titulos{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}
.valor{
    font-size: 5rem;
    text-align: center;
    color: $verde;
    font-weight: bold;
}
.lista{
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    text-align: left;
}
.directoTienda{
    font-size: 1.2rem;
    font-style: oblique;
}

.bordes{
    padding-left: 4rem;
    padding-right: 4rem;
}
.separacion{
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.fondo{
    background-color: $verdeClaro;
}