/* Variables */ 
@import "colores";
@import "menu";
@import "proteinas";
@import "historiayContacto";
@import "accesorios";
@import "mantenciones";
@import "valoresST";
@import "servicioAutorizadoTrek";
@import "servicioTecnicoHall";



/*Variables*/






*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
h1{
    font-family: 'Galada', cursive;
    font-size: 4rem;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}
/* nabarrrrrr*/
.navbar{
    margin-bottom: 3rem;
    margin-top: 1rem;

    a{
        font-size: 1.5rem;
        color: $negro;
    }
}
.navbar a:hover{
    color: $verde;
}
nav a img{
    width: 200px;
}
nav a ul li{
    background-color: $negro;
    color: $negro;
}
header{
    text-transform: uppercase;
    justify-content: space-around;
    padding-left: 3rem;
    padding-right: 3rem;
}

/*footer*/
.footer{
    background: $negro;
    color:white;

    img{
    width: 200px;
    padding-bottom: 2rem;
    }
    h4{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }
    
    .links{
      ul {
          list-style-type: none;
          text-decoration: none;
          font-size: 1.5rem;

        }
      li a{
        color: white;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          color: $verdeClaro;
          }
      }
    }  
    .copyright p{
        border-top:1px solid rgba(255,255,255,.1);} 
  }
.separacion{
    padding-bottom: rem;
}
/*footer*/ 

h1 {
    color: $negro;
    font-size: 4rem;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: 2rem;
}


.blanco{
    color: $blanco;
}